/*
Swatch is Tangerine Swatch V2
Url: https://coolors.co/palette/dd614a-3a405a-cdcdcd-8ea604-40531b
Colors: DD614A, 3A405A, CDCDCD
Image credits:
generic-avatar-1.jpeg is from Interstate Development
tangerinelogo.png is from clipartmax.com
applecider.jpeg is from Sally's Baking Addiction
sheets.jpeg is from the New York Times */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' 'Bebas Neue', 'Source Sans Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
